{% extends "HTMLTemplate.html" %}

{%block meta%}
  <title>UALR Schedule Generator - Add a Professor</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The page to add professors to the database for the UALR Schedule Generator">
  <link href="/static/addProf.css" rel="stylesheet" type="text/css">
{%endblock%}

{%block logbutton%}
  <button class="logout" onclick="window.location.href = 'http://penwolfe.host:5000/logout';"><span>Log Out </span></button>
{%endblock%}

{%block graytop %}
  <button class="navbutton" onclick="window.location.href = 'http://penwolfe.host:5000/hub';"><span>Back to Hub </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://penwolfe.host:5000/approve';"><span>Approve Users </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://penwolfe.host:5000/instructors';"><span>List of Instructors </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://penwolfe.host:5000/add/section';"><span>Add Course </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://penwolfe.host:5000/sections';"><span>List of Courses </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://penwolfe.host:5000/scheduler';"><span>Generate a Schedule </span></button>
{%endblock%}

{%block content%}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add Instructor</legend>
            <div class="form-group">
                {{ form.lastName.label(class="form-control-label")  }}
                {{ form.lastName(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.maxLoad.label(class="form-control-label")  }}
                {{ form.maxLoad(class="form-control form-control-lg") }}
       	    </div>
               <div class="form-group">
                {{ form.disciplines.label(class="form-control-label")  }}
                {{ form.disciplines(class="form-control form-control-lg") }}
       	    </div>
	 </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>  
{%endblock%}

{%block graybottom%}
{%endblock%}
