{% extends "HTMLTemplate.html" %}

{%block meta%}
  <title>UALR Schedule Generator - Homescreen</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The home page for the UALR Schedule Generator">
  <link href="/static/home.css" rel="stylesheet" type="text/css">
{%endblock%}

{%block logbutton%}
{%endblock%}

{%block graytop%}
{%endblock%}

{%block content%}
  <button style="vertical-align:middle" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/register';"><span>Register </span></button>
  <button style="vertical-align:middle" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/login';"><span>Log In </span></button>
{%endblock%}

{%block graybottom%}
{%endblock%}
