<!DOCTYPE html>
<html lang="en">
<head>
  <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <header class="header">
    <h1>Academic Department Teaching Assignments Assistant</h1>
  </header>

  <main class="content">
	<button>Register</button>
	<button>Sign in</button>
  </main>

  <div class="container">

    <!--This adds the flashed messages support-->

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

    {%block content%}
    {% endblock %}

  </div>


  <footer>
    <p>Property of UALR</p>
  </footer>

</body>
</html>
