<!DOCTYPE html>
<html lang="en">
  <head>
   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" >
   {% block meta %} {% endblock %}
  </head>

<body>
  <header class="header">
    <h1>Academic Department Teaching Assignments Assistant</h1>
    <nav class="gray-bar">
      {% block graytop %} {% endblock %}
    </nav>
  </header>

<main class="content">
<!--This adds the flashed messages support-->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

{% block content %} {% endblock %}

</main>

<footer>
  <nav class="gray-bar">
    {% block graybottom %} {% endblock %}
  </nav>
  <p>Property of UALR</p>
  <!--the rest of boostrap, keep at the bottom-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</footer>

</body>
</html>
