<!DOCTYPE html>
<html lang="en">
  <head>
   {% block meta %} {% endblock %}
  </head>

<body>
  <header class="header">
    <h1>Academic Department Teaching Assignments Assistant</h1>
    <nav class="gray-bar">
      {% block graytop %} {% endblock %}
    </nav>
  </header>

<main class="content">
<!--This adds the flashed messages support-->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

{% block content %} {% endblock %}

</main>

<footer>
  <nav class="gray-bar">
    {% block graybottom %} {% endblock %}
  </nav>
  <p>Property of UALR</p>
</footer>

</body>
</html>
