{% extends "HTMLTemplate.html" %}

{%block meta%}
  <title>UALR Schedule Generator - Instructors</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The page containing a list of all instructors for the UALR Schedule Generator">
  <link href="/static/instructors.css" rel="stylesheet" type="text/css">
{%endblock%}

{%block logbutton%}
  <button class="logout" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/logout';"><span>Log Out </span></button>  
{%endblock%}

{%block graytop %}
  <button class="navbutton" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/hub';"><span>Back to Hub </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/approve';"><span>Approve Users </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/add/instructor';"><span>Add Instructor </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/add/course';"><span>Add Course </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/sections';"><span>List of Courses </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/scheduler';"><span>Generate a Schedule </span></button>
{%endblock %}

{%block content%}
{%for instructors in instructorList%}
   <h1> {{instructors.LName}}</h1>
   <p> {{instructors.MaxLoad}}</p>
   <p> {{instructors.Disciplines}}</p>
   <p> {{instructors.Course_code_1}}</p>
   <p> {{instructors.Course_code_2}}</p>
   <p> {{instructors.Course_code_3}}</p>
   <p> {{instructors.Course_code_4}}</p>
   <p> {{instructors.Schedule_Day_1}}</p>
   <p> {{instructors.Schedule_Day_2}}</p>
   <p> {{instructors.Schedule_Day_3}}</p>
   <p> {{instructors.Schedule_Day_4}}</p>
   <p> {{instructors.Schedule_Day_5}}</p>
   <p> {{instructors.CurrentLoad}}</p>
{%endfor%}
{%endblock%} 

   LName = db.Column(db.String(20), unique=True, nullable = False, primary_key = True)
   MaxLoad = db.Column(db.Integer, nullable = False)
   Disciplines = db.Column(db.String(99), nullable = False)
   Course_code_1 = db.Column(db.Integer, nullable = True)
   Course_code_2 = db.Column(db.Integer, nullable = True)
   Course_code_3 = db.Column(db.Integer, nullable = True)
   Course_code_4 = db.Column(db.Integer, nullable = True)
   Schedule_Day_1 = db.Column(db.String(30), nullable = True)
   Schedule_Day_2 = db.Column(db.String(30), nullable = True)
   Schedule_Day_3 = db.Column(db.String(30), nullable = True)
   Schedule_Day_4 = db.Column(db.String(30), nullable =True)
   Schedule_Day_5 = db.Column(db.String(30), nullable = True)
   CurrentLoad = db.Column(db.Integer, nullable = False, default=0)

{%block graybottom%}
{%endblock%}
