{% extends "HTMLTemplate.html" %}

{%block meta%}
  <title>UALR Schedule Generator - Schedules</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Schedule Page for the UALR Schedule Generator">
  <link href="/static/schedule.css" rel="stylesheet" type="text/css">
{%endblock%}

{%block logbutton%}
  <button class="logout" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/logout';"><span>Log Out </span></button>  
{%endblock%}

{%block graytop %}
  <button class="navbutton" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/???';"><span>Back to Hub </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/approve';"><span>Approve Users </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/add/instructor';"><span>Add Instructor </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/instructors';"><span>List of Instructors </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/add/course';"><span>Add Course </span></button>
  <button class="navbutton" onclick="window.location.href = 'http://ec2-3-92-209-242.compute-1.amazonaws.com/sections';"><span>List of Courses </span></button>
{%endblock %}

{%block content%}
  <div class='container'>
    <div class="row pb-5">
      <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <h1 class="pt-5 pb-2">Successfully Assigned Classes</h1>
        <table class="table">
          <tr>
            <th>Code</th>
            <th>Department Code</th>
            <th>Days</th>
            <th>Start Time</th>
            <th>Disciplines</th>
	    <th>Periods</th>
	    <th>Course Name</th>
	    <th>Instructor</th>
	    <th>Valid?</th>
          </tr>
          {%for output_schedule in outputSchedule%}
            <td>{{output_schedule.Code}}</td>
            <td>{{output_schedule.DepartmentCode}}</td>
            <td>{{output_schedule.Day}}</td>
            <td>{{output_schedule.Length}}</td>
            <td>{{output_schedule.StartTime}}</td>
            <td>{{output_schedule.Disciplines}}</td>
            <td>{{output_schedule.Periods}}</td>
            <td>{{output_schedule.Name}}</td>
            <td>{{output_schedule.instructor}}</td>
            <td>{{output_schedule.valid}}</td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>
  </div>  
{%endblock%}

{%block graybottom%}
<form method="POST" action="">
  <div class="form-group">
    <input type="submit" name="submit_button" value="Generate Schedule">
  </div>
</form>
{%endblock%}
