* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  /* base 10px to rem converted */
  font-size: 62.5%;
  font-family: serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

header {
  text-align: center;
  background-color: #4f0d1b;
  color: #ffffff;
  font-size: 1.5rem;
}

header h1 {
  padding: 1em;
}

.gray-bar {
  padding: 1em;
  display: flex;
  justify-content: center;
  background-color: #d1d1d1;
  color: #060606;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 67.76vh;
}

button {
  font-size: 1.8rem;
  padding: 0.1em;
  width: 10rem;
  border: none;
  background-color: white;
  color: red;
}

footer {
  background-color: gray;
  color: #ffffff;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

footer p {
  padding: 3em 1em;
}
