* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-size: 62.5%;
  font-family: serif;
}

body{
  min-height: 100vh;
  width: 100%;
}


header {
  text-align: center;
  background-color: #4f0d1b;
  color: #ffffff;
  font-size: 1.5rem;
  min-height: 15vh;
}

header h1 {
  padding: 1em;
}

.gray-bar {
  padding: 1em;
  display: flex;
  background-color: #d1d1d1;
  color: #060606;
  min-height: 5vh;
  width: 100%;
  margin-top: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  overflow-y: auto;
}

footer {
  background-color: gray;
  color: #ffffff;
  width: 100%;
  margin-top: auto;
  bottom: 0;
}

footer p {
  padding: 1em;
  min-height: 5vh;
}
